[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
codecov = "*"
pytest-cov = "*"
pre-commit = "*"
flake8 = "*"
yapf = "*"
isort = "*"
tox = "*"
tox-pipenv = "*"
pytest-html = "*"

[packages]

[requires]
python_version = "3.9"
